.root {
  width: vw;
  min-height: 700px;
  background: $task-tree-red;
  padding: 10px 80px 0px 80px;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
}

.logoText {
  font-family: Cabin-SemiBold;
  font-size: 32px;
  color: #ffffff;
  text-align: left;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.headerLeft {
  display: grid;
  grid-template-columns: min-content auto;
}

.headerRight {
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content min-content;
  grid-column-gap: 10px;
  height: 20px;
}

.button {
  white-space: nowrap;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  transition: 0.5s;
}

.login {
  border-color: white;
  color: white;
}

.login:hover {
  border-color: #d8d8d8;
  background: #d8d8d8;
  color: $task-tree-red;
}

.signup {
  background: white;
  border-color: white;
  color: $task-tree-red;
}

.signup:hover {
  background: black;
  border-color: black;
  color: white;
}

.logoImg {
  padding-right: 10px;
  padding-top: 2px;
  height: 32px;
}

.tagline {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 60%;
  position: relative;
  z-index: 0;
}

.taglineTop {
  font-family: Cabin-SemiBold;
  font-size: 70px;
  line-height: 70px;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: left;
  margin: 100px 0px 0px 0px;
  padding: 0px;
}

.taglineBottom {
  font-family: Cabin-SemiBold;
  font-size: 70px;
  line-height: 70px;
  color: #d8d8d8;
  letter-spacing: 2px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.arrowImg {
  height: 10px;
  padding-left: 10px;
  transition: 0.5s;
}

a.learnMore {
  padding-top: 30px;
  color: white;
  text-decoration: none;
  padding-left: 4px;
}

a.learnMore:hover .arrowImg {
  padding-left: 20px;
}

div.learnMore {
  margin-top: 30px;
}

div.centrePiece {
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
  width: auto;
  background-image: url("../../assets/img/centrePiece.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 500px;
  width: 550px;
  position: relative;
  pointer-events: none;
}
