.tagline {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 60%;
  position: relative;
  z-index: 0;
}

.taglineTop {
  font-family: Cabin-SemiBold;
  font-size: 70px;
  line-height: 70px;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: left;
  margin: 100px 0px 0px 0px;
  padding: 0px;
}

.taglineBottom {
  font-family: Cabin-SemiBold;
  font-size: 70px;
  line-height: 70px;
  color: #d8d8d8;
  letter-spacing: 2px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.arrowImg {
  height: 10px;
  padding-left: 10px;
  transition: 0.5s;
}

a.learnMore {
  padding-top: 30px;
  color: white;
  text-decoration: none;
  padding-left: 4px;
}

a.learnMore:hover .arrowImg {
  padding-left: 20px;
}

div.learnMore {
  margin-top: 30px;
}

div.centrePiece {
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
  width: auto;
  background-image: url("../../../assets/img/centrePiece.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 500px;
  width: 550px;
  position: relative;
  pointer-events: none;
}
