.root {
  background: $task-tree-red;
  min-height: 100vh;
}

.rootHead {
  text-align: center;
}

.logo {
  width: 80px;
  padding: 10px;
}

.heading {
  font-family: Cabin-Bold;
  font-size: 50px;
  color: white;
  letter-spacing: 0;
  margin: 0px;
  padding: 0px;
}

.subHeading {
  font-family: Cabin-Bold;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0;
  margin: 0px;
  padding: 0px;
}
