/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0px;
}

* {
  font-family: "Cabin", sans-serif;
  scroll-behavior: smooth;
}

a {
  font-family: "Cabin", sans-serif;
}

h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input {
  box-sizing: border-box;
}

::-webkit-input-placeholder :-ms-input-placeholder ::placeholder {
  color: #9c9c9c;
}

.task-exit,
.task-exit * {
  opacity: 0;
  transition: 0.25s;
}

.task-exit-active,
.task-exit-active * {
  transition: 0.25s linear 0.25s;
  margin: 0px !important;
  padding: 0px !important;
  font-size: 0px !important;
  border: none !important;
  border-radius: 0px !important;
  animation: disappear 0.25s 0.25s;
}

.task-exit-active svg {
  height: 0px;
  transition: height 0.25s 0.25s;
}

@keyframes disappear {
  0% {
    opacity: 0px;
    line-height: auto !important;
  }

  100% {
    opacity: 0px;
    line-height: 0px !important;
  }
}
