.root {
  background: $task-tree-red;
  min-height: 100vh;
}

.rootHeading {
  text-align: center;
}

.circleLogo {
  margin: 20px;
}

.logInHeader {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Cabin-Bold;
  font-size: 50px;
  letter-spacing: 0;
}
