.logInForm {
  background: white;
  padding: 5px 50px 40px 50px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 8px;
  border: solid 1px #979797;
}

.formButton {
  width: 100%;
  font-size: 15px;
  padding: 7px;
  margin-top: 20px;
  border-radius: 8px;
  border: solid 1px black;
  color: white;
  background: #a4a3a3;
}

.formButton:hover {
  transition: 0.5s;
  background: #6d6d6d;
}

.formButton:focus {
  transition: 0.5s;
  background: black;
}
